doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class = 'flex-cont')
      block sidebar
        div(class = 'sidebar')
          ul
            li
              a(href='/catalog') Home
            li
              a(href='/catalog/weapons') All Weapons
            li
              a(href='/catalog/categories') All Categories
            li
              a(href='/catalog/weapon/create') Save new weapon

      div(class = 'content')
        block content
