extends layout

block content
  h1= title

  ul
    each weapon in weapon_list
      li
        a(href=weapon.url) #{weapon.name}
        |  (#{weapon.description})

    else
      li There are no weapons.
